button {
	cursor: pointer;
}

form {
	text-align: left;
	font-size: calc(120px - 6vw);
}

a {
	line-break: anywhere;
}

input[type="submit"] {
	cursor: pointer;
	border: 2px solid #555555;
	border-radius: 100px;
}

input[type="submit"]:hover {
	background-color: lightgray;
}

form > div > input[type="submit"] {
	font-size: calc(75px - 4vw);
}

form > textarea {
 	width: calc(100% - 6px);  /* subtract horizontal border, padding & margin (here 6px: 2 padding & 1 border per site) */
	margin-top: 5px;
}

#error-frame {
	display: none;
	text-align: center;
}

#error-button {
	margin: 3vh;
	font-size: calc(100px - 6vw);
}

#test-element {
	width: 100%;
}

#certificate-view {
	width: 80%;
	height: calc(100vh - 104px);
}

#certificate-view-title {
	text-align: center;
	height: 40px;
	margin: 20px 0;
}

#test-result {
	display: none;
	margin: 100px auto;
	padding: calc(60px - 3vw);
	width: 80%;
	text-align: center;
	background-color: #eeeeee;
	border-radius: 20px;
}

.child-align-right {
	text-align: right;
}

.child-align-center {
	text-align: center;
}

.centered-gray-container {
	margin: 20vh auto;
	padding: 5vh 5vh;
	width: 50%;
	border-radius: 20px;
	background-color: #e0e0e0;
}

.loading-background {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg">\
		<text y="30" font-size="30">Lade Zertifikat...</text>\
		</svg>');
}

.default-font-size {
	font-size: calc(60px - 3vw);
}

.copy-icon {
	cursor: pointer;
	border: #555555 solid 2px;
	border-radius: 5px;
}

.copy-icon:hover {
	background: white;
	border-color: #666666;
}
